@model IEnumerable<ProductCategoryViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <a asp-controller="Product" asp-action="Create">เพิ่มหนังสือใหม่</a>
    <table class="table">
        <thead>
            <tr>
                <th>รหัสสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>ราคาขาย</th>
                <th>ประเภทสินค้า</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td><a asp-controller="Product" 
                           asp-action="Detail"
                           asp-route-id="@item.ProductId">
                            @item.ProductName
                        </a>
                    </td>
                    <td>@item.ProductPrice</td>
                    <td>@item.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
